{% extends 'layout.html.twig' %}

{% block title %}
    Supprimer un set
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}



{% block content %}


    <div class="container-fluid">
        <header class="row ">
            <div class="col py-4 ">
                <h1 class="title">Supprimer un set</h1>
                <div class="row justify-content-center">
                        <form class="form-inline" method="POST" action="/changerAccueil">
                        <button type="submit" class="btn btn-lg btn-responsive">Changer l'accueil</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>


        <div class="row">

                <section class="col justify-content-center px-2 py-4 my-4 mx-2">

                    <form action="/redirection" method="POST">
                        <div class="row justify-content-center my-4" id="list">
                            <div class="offset-1 col-3">

                                <div class="dropdown">
                                    <select class="btn btn-btn btn-responsive dropdown-toggle" name="selectAA" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <option class="dropdown-item" type="button">Ajouter un set</option>
                                            <option class="dropdown-item" type="button">Modifier un set</option>
                                            <option class="dropdown-item" selected="selected" type="button">Supprimer un set</option>
                                        </div>
                                    </select>

                                </div>


                            </div>
                            <div class="offset-1 col-3">
                                <button type="submit" class="btn btn- btn-responsive">Valider</button>
                            </div>
                        </div>
                    </form>
                    </div>


                    <div class="row justify-content-center my-4">

                        <div class="col-2 mx-2">
                            <div class="thumbnail">
                                <p><span class="titre">{{ res.decks }}</span></p>
                                    <img src="{{ res.image }}" alt="Image" class="img-thumbnail">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center my-4">
                        <div class="col-1">
                            <form action="/supprimer" method="POST">
                                <label>{{ res.decks }}</label>
                                <label>{{ res.image }}</label>
                                <input type="hidden" name="supprDeck" value="{{ res.decks }}">
                                <button type="button" class="btn btn-lg btn-responsive">Supprimer</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


{% endblock %}
