{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/decks.css">
{% endblock %}

{% block header %}

        <div class="row">
            <div class="container-fluid">
                <div class="titre  col-sm-7 col-md-6 col-lg-5 col-xl-4 offset-4 ">
                      <h4>Choix du deck</h4><br>
                </div>
            </div>
        </div>


    <h6>Bienvenue a toi  <span>{{ pseudo }}</span> ! Choisi un set de carte pour commencer la partie !!</h6>
{% endblock %}

    {% block content %}

    <div class="container">
      <div class="row deckChoix">
        {% for deck in resultat %}

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="thumbnail">
            <div class="caption">
              <p>{{ deck.decks }}</p>
            </div>
              <form action="" method="GET">
            <a href="/play">
              <img name="{{ deck.decks }}" src="{{ deck.image }}" style="width:140px;height=140px;" alt="{{ deck.decks }}" >
            </a>
              </form>
          </div>
        </div>
    {% endfor %}
      </div>
    </div>
    {% endblock %}