{% extends 'layout.html.twig' %}

{% block stylesheet %}
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/decks.css">
{% endblock %}

{% block header %}

      <h3 class="titre">Choix du deck</h3>

    <h6 class="titre">Bienvenue a toi  <span>{{ pseudo }}</span> ! Choisi un set de carte pour commencer la partie !!</h6>
{% endblock %}

    {% block content %}

    <div class="container">
      <div class="row deckChoix">

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="thumbnail">
            <div class="caption">
              <p>{{ res.decks }}</p>
            </div>
              <form action="" method="GET">
            <a href="/play">
              <img name="{{ res.decks }}" src="{{ res.image }}" alt="{{ res.decks }}" >
            </a>
              </form>
          </div>
        </div>

      </div>
    </div>
    {% endblock %}