{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/finDeParti.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block header %}

    <div class="row">
        <div class="container-fluid">
            <div class="titre  col-sm-8 col-md-7 col-lg-6 col-xl-5 offset-3 ">
                <h4>{{ resultat }}</h4>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <p class="Pseudo">Pseudo :<span> {{ pseudo }}</p>
    <p class="Score">Score :<span>{{ score }} </span></p>

    <div class="container">
        <div class="row photoModal">
                <div class="col-xl-1 offset-3">
                    <img id="myImg" src="{{ perso }}" alt="">
                        <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                </div>
            </div>
        </div>

        <p>{%  for reponse in reponse  %}
            {{ reponse }}  </br>
            {% endfor  %}
        </p>
        <div class="container">
            <div class=" button row">
                <div class=" offset-3">
                    <form class="form-inline" action="/decks" type="GET">
                        <button type="submit" class="btn btn-primary center "> Rejouer ! </button>
                    </form>
                </div>
                <div class="">
                    <form class="form-inline" action="/" type="GET">
                        <button type="submit" class="btn btn-success  "> Nouvelle parti ! </button>
                    </form>
                </div>
            </div>
    </div>





<script>
    //Script pour la fenetre modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
</script>

{% endblock %}