{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
{% endblock %}



{% block bdd %}
<h1>Items</h1>
<ul>
  {% for item in items %}
  <li>{{ item.id }}. {{ item.title }}</li>
  {% else %}
  <li>Nothing to display</li>
  {% endfor %}
</ul>
{% endblock %}

{% block content %}


  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="play col-md-4">
        <div class="row test">
          <form class="form-inline" method="GET" action="/">
              <input type="text" name="pseudo" size="22" class="form-control" placeholder= "{% if errorPseudo %}{{ errorPseudo }} {% else %} entrez votre pseudo !{% endif %}">
            <button type="submit" class="btn btn-warning "> Jouer ! </button>
          </form>
      </div>
    </div>

    <div class="row">
        <div class="regles col-md-6 col-offset-1" style="margin-top: 10vh;">
            {% include 'Client/regles.html'%}
        </div>
            <div class="scoring col-md-4 offset-md-1" style="margin-top: 10vh">
            <h5>Best Player</h5><br>
              <div class="row">
                <div class="col-3">

                  <p class="titleScoring" >PLACE</p>
                  {% for i in score %}

                  <p class="player" >{{ loop.index }}st</p>

                  {% endfor %}
                </div>
                <div class="col-3 offset-1">
                  <p class="titleScoring" > SCORE</p>
                    {% for i in score %}
                  <p class="player" > {{ i.score }}</p>
                    {% endfor %}

                </div>
                <div class="col-3 offset-1">
                  <p class="titleScoring" > PSEUDO</p>
                    {% for i in score %}
                  <p class="player" > {{ i.pseudo }}</p>

                    {% endfor %}
                </div>
              </div>
          </div>

    </div>
  </div>

{% endblock %}

        
        
        
        
        
        
        
        